upstream backend {
    server 192.168.10.27;
    server 192.168.10.30;
}

server {
    listen 80;
    server_name 51.250.105.102;
    location / {
        return 301 https://$host$request_uri;
    }
}

server {

    listen 443 ssl;
    server_name balancer.xcompas.ru;
    #server_name 51.250.105.102;

    ssl_certificate /etc/nginx/ssl/balancer.crt;
    ssl_certificate_key /etc/nginx/ssl/balancer.key;

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}